@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
:root {
  --vh: 100%;
}
@media (max-width: 768px) {
  :root {
    --vh: 100vh;
  }
}
.sidebar {
  height: calc(var(--vh));
}
* {
  user-select: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
}

/* Black scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444; /* Dark gray scrollbar */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666; /* Lighter gray on hover */
}
/* Add this to your global CSS */
.html5-video-player.ytp-autohide .ytp-pause-overlay,
.ytp-pause-overlay-container {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
}